@model List<Linkitty.Models.UrlMapping>

@{
    ViewData["Title"] = "All Shortened Links";
}

<div class="table-header">
    <h2>All Shortened Links</h2>
    <form asp-action="DeleteAll" method="post">
        <button type="submit" class="delete_btn">DELETE ALL</button>
    </form>
</div>


@if (Model != null && Model.Any())
{
    <div class="table-container">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Original Url</th>
                    <th scope="col">Short Url</th>
                    <th scope="col">Click Count</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var url = Model[i];
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>
                            <a class="LinkDisplay" href="@url.OriginalUrl" target="_blank" rel="noopener noreferrer">
                                @url.OriginalUrl
                            </a>
                        </td>
                        <td>
                            <a class="LinkDisplay" href="@($"{Context.Request.Scheme}://{Context.Request.Host}/{url.ShortUrl}")" target="_blank">
                                @($"{Context.Request.Scheme}://{Context.Request.Host}/{url.ShortUrl}")
                            </a>
                        </td>
                        <td>@url.ClickCount</td>
                        <th scope="col">
                                <form asp-action="DeleteEntry" method="post">
                                    <input type="hidden" name="id" value="@url.Id"/>
                                    <button
                                        type="submit" class="delete_btn">DELETE
                                    </button>
                                </form>
                        </th>
                    </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
        <p>No links found in memory.</p>
}
